  body, html {
    background: white;
    color: black;
  }
  #error {
    font-family: "Verdana", Verdana, Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    filter: contrast(1);
    -webkit-font-smoothing: antialiased;
    max-width: 400px;
    padding: 1rem 2rem;
    font-size: 12px;
  }
  h1 {
    font-weight: 500;
    font-size: 18px;
  }
  h1 img {
    vertical-align: middle;
    margin-right: 0.4rem;
  }
  hr {
    color: #DDDDDD;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
  }
  a {
    text-decoration: underline;
    color: #ff0000;
  }
