body {
  background-image: url('https://thebruvvvvvv.github.io/freddiesgarden/background.jpg');
  color: #695650;
}

div {
  max-width: 700px;
  border: 3px solid #98b598;
  background: #b6d1b6;
  margin: auto;
  text-align: center;
}

.divider {
  height: auto;
  width: 700px;
  display: block;
  object-fit: cover;
  margin: auto;
}

.dividersmall {
  height: auto;
  width: 350px;
  display: block;
  object-fit: cover;
  padding-left: 200px;
  padding-right: 200px;
}

.insect-grid{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
