div {
  max-width: 700px;
  border: 3px solid #98b598;
  background: #b6d1b6;
  padding: 0px;
  padding-left: 3px;
  margin: auto;
  text-align: center;
}

.divider {
  height: auto;
  width: 700px;
  display: block;
  object-fit: cover;
  margin: auto;
}

.dividersmall {
  height: auto;
  width: 350px;
  display: block;
  object-fit: cover;
  margin: auto;
}


